html {
    font-family: "Poppins";
    font-size: 16px;
  }

body {
    font-weight: 400;
    font-style:normal;
    text-decoration: none;
    text-transform: none;
    letter-spacing: normal;
    line-height: 1.15;
    color: #474747;
    background-color: #e0e8f7;
}
.navbar{
    margin: 20px 20px 20px 20px;
    color: #474747;
    flex: auto;
    flex-direction: column;
}
#page-logo {
    font-weight: 700;
    padding-right: 48px;
}
