body {
    font-family: "Poppins", sans-serif;
    margin-left: 140px;
    margin-right: 140px;
    background-color: #131314;
}

.card {
    color: white;
    border: none;
    background-color: #1e1f20;
    margin-top: 20px;   
    height: 350px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.card-body {
    padding: 5px;
}

.overall-attention-container {
    text-align: center;
}
.overall-attention {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 5px; 
}

.main-svg{
    width: 100%;
    height: 100%;
}

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 15vh;
}

.nav-links {
    gap: 2.5rem;
    list-style: none;
    font-size: 1.5rem;
}

.logo {
    font-family: poppins;
    font-size: 2rem;
    font-weight: 600;
    color: white;
}

a {
    color: white;
    text-decoration: none;
    text-decoration-color: white;
}