body {
    font-family: "Poppins", sans-serif;
    margin-left: 140px;
    margin-right: 140px;
    background-color: #f4f7ff;
}

.card {
    border: none;
    margin-top: 20px;   
    height: 250px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 15vh;
}

.nav-links {
    gap: 2.5rem;
    list-style: none;
    font-size: 1.5rem;
}

.logo {
    font-family: poppins;
    font-size: 2rem;
    font-weight: 600;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}